<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::head('Редактирование пользователя')}"></head>
<body>
    <div class="container">
        <div th:replace="~{fragments/header::header}"></div>
        <br/>
        <br/>
        <br/>
        <br/>
        <h2 th:text="${'Заказ №  ' + order.id}">Заказ № [[${order.id}}]]</h2>
        <h3 th:text="'Дата заказа  ' + ${#dates.format(order.orderDate, 'HH:mm dd-MM-yyyy')}"></h3>
        <br>
            <ul>
                <li th:each="orderDish : ${orderDishes}">
                    <p th:text="${orderDish.dish.name}"></p>
                    <img  th:src="@{/admin/dish/upload/{uploadId}(uploadId=${orderDish.dish.dishPhoto.id})}"
                          style="height: 150px; width: 200px"/>
                    <p th:text="${'Цена: ' + orderDish.dish.cost + ' руб.'}"></p>
                    <span th:text="${'Описание: ' + orderDish.dish.description}"></span> <br>
                    <span th:text="${'Осталось порций: ' + dishCounts.get(orderDish.dish)}"></span>
                    <form th:action="@{main/edit-order/{orderId}(orderId = ${order.id})}" method="post">
                        <input type="number" name="quantity" th:value="${orderDish.quantity}"/>
                        <input type="hidden" name="dishId" th:value="${orderDish.dish.id}"/>
                        <button type="submit" class="btn btn-success">Изменить</button>
                    </form>
                </li>
            </ul>
            <a th:href="@{/menu/{orderId}(orderId = ${order.id})}">Добавить блюдо</a>

        <div th:replace="~{fragments/js-connect::js-connect}"></div>
    </div>
</body>
