<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    <h1 th:text="${menu.name}"></h1>
    <h1>Товары</h1>
    <ul>
        <li th:each="dishCount : ${dishCounts}">
            <p th:text="${dishCount.dish.name}"></p>
            <img th:src="${dishCount.dish.photo}" style = height:100px>
            <p th:text="${'Цена: ' + dishCount.dish.cost + ' руб.'}"></p>
            <span th:text="${'Описание: ' + dishCount.dish.description}"></span> <br>
            <span th:text="${'Осталось порций: ' + dishCount.count}"></span>
            <form th:action="@{/main/add-to-order/{orderId}(orderId = ${order.id})}" method="post">
                <input type="number" min="1" name="quantity" value="1"/>
                <input type="hidden" name="dishId" th:value="${dishCount.dish.id}"/>
                <button type="submit">Выбрать</button>
            </form>
        </li>
    </ul>
    <script src="/js/jQuery.js"></script>
</body>
</html>

<!--<body>-->
<!--<h1 th:text="${menu.name}"></h1>-->
<!--<h1>Товары</h1>-->
<!--<ul>-->
    <!--<li th:each="dish : ${dishes}">-->
        <!--<p th:text="${dish.name}"></p>-->
        <!--<img th:src="${dish.photo}" style = height:100px>-->
        <!--<p th:text="${'Цена: ' + dish.cost + ' руб.'}"></p>-->
        <!--<span th:text="${'Описание: ' + dish.description}"></span>-->
        <!--<span th:text="${'Осталось порций: + count}"></span>-->
        <!--<form th:action="@{/add-to-order}" method="post">-->
            <!--<input type="number" min="1" name="quantity" value="1"/>-->
            <!--<input type="hidden" name="dishId" th:value="${dish.id}"/>-->
            <!--<button type="submit">Выбрать</button>-->
        <!--</form>-->
    <!--</li>-->
<!--</ul>-->
<!--<script src="/js/jQuery.js"></script>-->
<!--</body>-->
<!--</html>-->