<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="~{fragments/head::head('Добавление блюда')}"></head>
<body>
    <div class="container">
        <div th:replace="~{fragments/header::header}"></div>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1 th:text="${menu.name}" class="text-center form-control-lg"></h1>
        <table class="table table-bordered text-lg-center table-hover form-control-lg" align="center">
            <thead class="thead-dark">
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>Изображение блюда</th>
                <th>Цена, руб.</th>
                <th>Описание</th>
                <th>Осталось порций</th>
                <th>Добавить</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            <tr th:each="dish : ${dishes}">
                <td th:text="${dishStat.count}"></td>
                <td th:text="${dish.name}"></td>
                <td>
                    <img th:src="@{/upload/{uploadId}(uploadId=${dish.dishPhoto.id})}"
                          style="height: 150px; width: 200px"/>
                </td>
                <td th:text="${dish.cost}"></td >
                <td th:text="${dish.description}"></td>
                <td th:text="${dishCounts.get(dish)}"></td>
                <td>
                    <form th:action="@{/menu/add-to-order/{orderId}(orderId = ${order.id})}"
                          id="order-form"
                          method="post"
                          class="form-group">
                        <input type="number"
                               name="quantity"
                               th:value="1"
                               class="form-control form-control-lg"/>
                        <input type="hidden" name="dishId" th:value="${dish.id}"/>
                        <br/>
                        <button type="submit" class="btn btn-outline-success">Добавить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <a th:href="@{/main/edit/{orderId}(orderId = ${order.id})}"
           class="btn btn-dark btn-lg col-4"
           role="button">К заказу</a>
        <br/>
        <div th:replace="~{fragments/js-connect::js-connect}"></div>
    </div>
</body>
</html>

