<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head::head('Редактирование пользователя')}"></head>
<body>
    <div class="container">
        <div th:replace="~{fragments/header::header}"></div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-8">
                <form th:action="@{/admin/dish/save/} + ${dish.id}"
                      method="post"
                      th:object="${dish}"
                      class="form-group">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3">
                                <label for="name"
                                       class="text-left col-form-label col-form-label-lg">Наименование
                                </label>
                        </div>
                        <div class="col-6">
                            <input type="text"
                                   id="name"
                                   th:field="*{name}"
                                   class="form-control form-control-lg form-control-plaintext text-center"
                                   readonly>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3">
                           <span th:if="${dish.dishPhoto != null}" class= "col-form-label col-form-label-lg">Изображение</span>
                        </div>
                        <div class="col-6 align-content-center">
                            <img th:if="${dish.dishPhoto != null}"
                                 th:src="@{/upload/{uploadId}(uploadId=${dish.dishPhoto.id})}"
                                 style="height: 150px; width: 200px"/>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <label for="cost"
                                   class="text-left col-form-label col-form-label-lg">Цена
                            </label>
                        </div>
                        <div class="col-6">
                            <input type="text"
                                   id="cost"
                                   th:field="*{cost}"
                                   class="form-control form-control-lg">
                        </div>>
                        <div class="col"></div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <label for="description"
                                   class="text-left col-form-label col-form-label-lg">Описание
                            </label>
                        </div>
                        <div class="col-6">
                            <input type="text"
                                   id="description"
                                   th:field="*{description}"
                                   class="form-control form-control-lg">
                        </div>
                        <div class="col"></div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-lg btn-success col-12">Сохранить</button>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </form>
                <br/>
                <br/>

                <form th:action="@{/admin/dish/photo/} + ${dish.id}"
                      method="post"
                      class="form-group"
                      enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <label for="dishPhoto"
                                   class="text-left col-form-label col-form-label-lg">Изображение блюда
                            </label>
                        </div>
                        <div class="col-6">
                            <input type="file"
                                   name="file"
                                   id="dishPhoto"
                                   class="form-control-file form-control-lg"/>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <button type="submit" class="btn btn-lg btn-outline-dark">Загрузить изображение</button>
                        <div class="col-4"></div>
                    </div>
                </form>
            </div>

            <div class="col-4">
                <form th:action="@{/admin/dish/save-ingredient/} + ${dish.id}"
                      method="post"
                      th:object="${newDishIngredient}"
                      class="form-group">
                    <div class="row">
                        <label for="ingredient"
                           class="text-left col-form-label col-form-label-lg">Ингредиент
                        </label>
                    </div>
                    <div class="row">
                        <select name="ingredient" id="ingredient" class="form-control form-control-lg">
                            <option value="" disabled selected>Выберете ингредиент</option>
                            <option
                                    th:each="ingredient : ${ingredients}"
                                    th:value="${ingredient.id}"
                                    th:text="${ingredient.name}"
                            ></option>
                        </select>
                    </div>

                    <div class="row">
                        <label for="weight"
                           class="text-left col-form-label col-form-label-lg">Вес ингредиента
                        </label>
                    </div>
                    <div class="row">
                        <input type="number"
                               id="weight"
                               th:field="*{weight}"
                               class="form-control form-control-lg"
                               placeholder="Введите вес ингредиента">
                    </div>
                    </br>
                    <div class="row">
                        <div class="col"></div>
                            <button type="submit" class="btn btn-dark btn-lg col-10">Добавить ингредиент</button>
                        <div class="col"></div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-12">
                        <ul th:each="dishesIngredient : ${dish.dishesIngredients}">
                            <li>
                                <span th:text="${dishesIngredient.ingredient.name} + ' - ' + ${dishesIngredient.weight} + ' г'"></span>
                                <span>&nbsp;&nbsp;</span>
                                <a th:href="@{/admin/dish/delete-ingredient/{id}(id = ${dishesIngredient.id})}">
                                    <span><i style="color: red" class="fa fa-times" aria-hidden="true"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
        <div th:replace="~{fragments/js-connect::js-connect}"></div>
    </div>
</body>
