<head th:fragment="head(title)" xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <meta charset="utf-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}"/>
    <link rel="stylesheet" th:href="@{/css/pagination.css}"/>
    <style>
        body {
            background: url(/images/upload/icon/beer_bar.jpg) repeat-y;
            background-size: 100%;
        }
    </style>
</head>
