<section th:fragment="category_fragment" xmlns:th="http://www.w3.org/1999/xhtml"
                   xmlns:width="http://www.w3.org/1999/xhtml">
    <ul>
        <li th:each="category : ${menu}">
            <img th:src="${category.image}"/>
            <a th:if="${category.children.empty}" th:href="@{/menu{path}(path = '/' + ${category.id})}">
                <span th:text="${category.name} + '  >>>>>'">>'</span>
            </a>
            <section th:insert="@{/category.html} :: category_fragment"
                     th:with="menu = ${category.children}"
                     th:if="!${category.children.empty}"
            ></section>
        </li>
    </ul>
</section>
