<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<h1>Это меню!</h1>
<section th:insert="@{/category.html} :: category_fragment"
         th:with="menu = ${roots}"
></section>

<script src="/js/jQuery.js"></script>
<script src="/js/menuCategory.js"></script>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Menu</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Это меню!</h1>-->
<!--<section th:include="@{/category.html} :: category_fragment"-->
         <!--th:with="menu = ${roots}"-->
<!--&gt;</section>-->
<!--<script src="/js/jQuery.js"></script>-->
<!--<script src="/js/menuCategory.js"></script>-->
<!--</body>-->
<!--</html>-->