<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <head th:replace="~{fragments/head::head('Меню')}"></head>
</head>
<body>
    <div th:replace="~{fragments/header::header}"></div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <section th:insert="@{/category.html} :: category_fragment"
         th:with="menu = ${roots}, order = ${order}"
    ></section>

    <div th:replace="~{fragments/js-connect::js-connect}"></div>
    <script th:src="@{/js/menuCategory.js}"></script>
</body>
</html>

